* {
  box-sizing: border-box;
}

.header-banner {
  background-image: url("/src/images/Poke_Header-banner_M_1200x300px.png");
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-bar {
  padding: 10px;
}

.search-pokeball {
  margin-right: 10px;
  width: 2rem;
}

.search-container {
  display: flex;
  justify-content: center;
}

body {
  background-image: url('./images/webb-dark.png');
  font-family: 'Cinzel', serif;
  font-family: 'Noto Sans Symbols', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  margin: 1rem auto 2rem;
}

.name-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-pokeball {
  width: 2rem;
  margin-right: .5rem;
}

.type-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.type-greatball {
  width: 2rem;
  margin-right: .5rem;
}

.nav-bar {
  background-image: linear-gradient(rgb(78, 78, 78), rgb(141, 141, 141));
  text-align: center;
  margin: 0 auto;
}

.results {
  text-align: center;
}

img {
  width: 40%;
}

.main-content {
  background-color: white;
  padding: 2rem;
}

.grid-container {
  max-width: 1220px;
}

.effect-list {
  text-align: center;
}

.no-effect {
  border-radius: 10px;
  border: 2px solid #cbcbcb;
  padding: 8px;
  background-color: #2e343624;
}

.double-not-effective {
  border-radius: 10px;
  border: 2px solid #7c0000b9;
  padding: 8px;
  background-color: #7c00008e;
}

.not-effective {
  border-radius: 10px;
  border: 2px solid #a401019f;
  padding: 8px;
  background-color: #a401013d;
}

.super-effective {
  border-radius: 10px;
  border: 2px solid #4d9a05;
  padding: 8px;
  background-color: #4d9a0552;
}

.double-super-effective {
  border-radius: 10px;
  border: 2px solid #73d313;
  padding: 8px;
  background-color: #73d31381;
}



.footer-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-ultraball {
  width: 2rem;
}


@media only screen and (min-width: 375px) {
  .effect-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .name-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .type-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .header-banner {
    background-image: url("/src/images/Poke_Header-banner_M_1200x300px.png");
    height: 124px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  img {
    width: 40%;
  }

  .footer-ultraball {
    width: 4rem;
  }
}


@media only screen and (min-width: 768px) {

  .header-banner {
    background-image: url("images/Poke_Header-banner_D_2500x250px.png");
    height: 124px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1220px;
    margin: 0 auto;
  }

  
  .effect-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }



  .results {
    display: flex;
    justify-content: space-evenly;
  }

  img {
    width: 30%;
  }
}

@media only screen and (min-width: 1220px) {
  .grid-container {
    border-radius: 5px;
  }
}

